<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="Application" fileName="log/application.log" append="false">
            <PatternLayout pattern="%d  %-5p %m     [%c{1}]%n" />
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d  %-5p %m     [%c{1}]%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="Application" />
        </Root>
    </Loggers>
</Configuration>
